@import "style/color";
@import "style/metric";
@import "style/font";

.page {
    background-color: @c-main;
    padding: @metric-m;
}

.icon {
    color: beige;
    width: 200px;
    height: 200px;
}

.img {
    width: 50%;
}

.main {
    font-family: @ubuntuFontTitle, sans-serif;
}
